extends layout
block head
  script var id=!{id};
  script(src="/javascripts/anketaScript.js")


block content
  div#app
    div(v-if="!opacity") Загружаю...
    div(v-bind:class="{visible:opacity}")
      h1 {{rec.title}}
      div.mt-3
        div(v-for="item in template")
          anketacart(:item="item")


