doctype html
html
  head
    title='Анкета'

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lib/vue.js")
    script(src="/lib/axios.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/moment.ru.js")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    script(src="/javascripts/flatpickr.js")
    block head
  body
    block content
